body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #222;
	color: #aaa;
}

input {
	background-color: #222;
	color: #aaa;
}

.simple-container {
	max-width: 675px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 20px;
}

.simple-print {
	fill: white;
	stroke: white;
}
.simple-print svg {
	height: 100%;
}

.simple-close {
	color: white;
	border-color: white;
}

.simple-ext-info {
	border-top: 1px solid #aaa;
}

h3 {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
}

hr {
	height: 1px;
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	margin: 0px;
}

a[href] {
	color: #1e8ad6;
}

a[href]:hover {
	color: #3ba0e6;
}

img {
	max-width: 100%;
}

aside,
[class *= "sidebar"],
[id *= "sidebar"] {
	max-width: 90%;
	margin: 0 auto;
	border: 1px solid lightgrey;
	padding: 5px 15px;
}

.App {
  margin-top: 1ex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App > hr {
  margin: 0.3rem 0.3rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container.spacing > * {
  margin: 3px 5px;
  padding: 0 5px;
  border: solid 1px gray;
}

.flex-container button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: 1em;
  color: #069;
  cursor: pointer;
}

input {
  border: none;
  border-left: solid 1px gray;
  padding-left: 4px;
  margin-right: -5px; /* negate the parent margin */
}

input.noLeftBorder {
  border-left: none;
}

.section {
  margin-top: 20px;
}

.indent {
  margin-left: 2em;
}

.indent > pre {
  max-width: calc(100vw - 2em);
  overflow-x: auto;
}

a {
  text-decoration: none;
}

.flex-container button:hover {
  text-decoration: underline;
}

.flex-container button:focus {
  outline: none;
}

.Dropdown-root {
  cursor: pointer;
}
.Dropdown-placeholder::after {
  content: '▼';
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error {
  color: red;
}

.config {
  margin: 10px auto;
  width: 90%;
}

.config > textarea {
  width: 100%;
  height: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* cleaner transition animation for react-st-modal */
:root {
  --st-overlay-transition: opacity 0.1s ease-out !important;
  --st-modal-transition: opacity 0.1s ease-out !important;
  --st-modal-transformVisible: translate(-50%, -50%) !important;
  --st-modal-transformHidden: translate(100%, 100%) !important;
  --st-modal-minWidth: 300px;
  --st-dialog-baseWidth: 600px;
  --st-dialog-maxWidth: 95%;
}

/* drop down */
.Dropdown-root.is-open > .Dropdown-menu > .is-selected {
  display: none;
}

.lds-dual-ring {
    display: inline-block;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 1ex;
    height: 1ex;
    border-radius: 50%;
    border: 2px solid #888;
    border-color: #888 transparent #888 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

